[Unit]
Description=Backend Api Service
After=network.target
[Service]
EnvironmentFile=/var/www/html/env
ExecStart=/bin/bash -c "REDIS_URL=$REDIS_URL HONEYCOMB_API_KEY=$HONEYCOMB_API_KEY OTEL_SERVICE_NAME=$OTEL_SERVICE_NAME npm run start-instrumented"
WorkingDirectory=/var/www/html/code/backend
Restart=always
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
