[Unit]
Description=Backend Api Service
After=network.target
[Service]
ExecStart=/usr/bin/npm run start-instrumented
WorkingDirectory=/var/www/html/code/backend
Restart=always
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
